* {
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background-color: black;
    color: darkorange;
    text-align: center;
}

.homework-form {
    color: darkorange;
    background-color: black;
}

.submit-btn {
    background-color: teal;
    color: whitesmoke;
}