* {
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background-color: black;
    color: darkorange;
    text-align: center;
    font-family: 'Notable', sans-serif;

}

ul {
    list-style: none;
}

main {
    font-family: 'Noto Sans', sans-serif;
}

button:hover {
    opacity: 0.85;
}

.assignment-list {
    text-align: center;
}

.homework-form {
    color: darkorange;
    background-color: black;
    text-align: center;
}

.submit-btn {
    background-color: teal;
    color: whitesmoke;
}

.clear-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear-btn {
    background-color: darkred;
    color: whitesmoke;
}